* {
	box-sizing: border-box;
	font-size: 28px;
	user-select: none;
}
body {
	margin: 0;
	overflow: hidden;
	background-color: #202;
	color: #FDF;
	/*font-family: cursive;*/
}
#story {
	width: 100vw;
	height: 2px;
	position: absolute;
	top: 50vh;
	left: 0px;
	transition: transform 0.4s linear;
	transform: rotate(0deg);
	background-color: #888;
	z-index: -1;
}
#story_fake {
	display: none;
}
#story_bts {
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 5px;
	display: none;
}
.story_bt {
	height: 40px;
	margin: 5px;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 40px;
	background-color: #202;
	cursor: pointer;
}
#story_back, #story_next {
	float: left;
}
#story_close {
	float: right;
}	
.story_bt:hover {
	background-color: #424;
}
.story_items {
	width: 100%;
	height: calc(100% - 60px);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;

	background-color: #202;
}
.story_title {
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	text-align: center;
	user-select: text;
}
.story_para {
	margin: 20px;
	user-select: text;
}
.story_para_select {
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.story_para_select_item {
	float: left;
	margin: 5px;
	border-radius: 10px;
	padding: 10px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #848;
	cursor: pointer;
}
.story_para_select_item:hover {
	background-color: #804080;
}

.story_para_select_none {
	display: none;
}

.story_para_pic {
	width: 100%;
	height: calc(50% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.story_para_pic img {
	max-width: 100%;
	max-height: 100%;
}
.story_para_area {
	width: 100%;
	height: 50%;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}

#title {
	width: 100%;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}
.item {
	width: 768px;
	height: 70vh;
	margin: auto;
	position: relative;
}
@media (max-width: 768px) {
  /* For desktop: */
  .item {
  	width: 100%;
  }
}
.items {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80%;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #202;
	display: none;
}
#page_none {
	border-radius: 10px;
	background-color: #888;
	display: block;
}
#page {
	display: block;
}
.items_name {
	width: 100%;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
}
.items_name:hover {
	background-color: #FDF;
	color: #202;
}
.items_name img {
	max-width: 50px;
	height: 100%;
	float: left;
	margin: 5px;
}
.items_name_l {
	float: left;
	margin: 5px;
}
.items_name_r {
	float: right;
	margin: 5px;
}
.items_name_r1 {
	transform: rotate(0deg);
	transition: transform 1s;
}
.items_name:hover .items_name_r1 {
	transform: rotate(-180deg);
}
.items_name_r2 {
	transform: rotate(-180deg);
	transition: transform 1s;
}
.items_name:hover .items_name_r2 {
	transform: rotate(0deg);
}
.items_name:hover .record {
	animation: rotate 2s infinite linear;
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
#font_size {
	cursor: pointer;
}
#font_color {
	font-size: 20px;
	padding: 4px;
	cursor: pointer;

	background-color: #202;
	color: #FDF;
}
#text_select {
	background-color: #00F;
}

.footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #848;
    color: #000;
    font-size: 20px;
    font-family: cursive;
}
