* {
	box-sizing: border-box;
	font-size: 24px;
	user-select: none;
}
body {
	margin: 0;
	background-color: #FFF;
	/*font-family: cursive;*/
	overflow-y: hidden;
	overflow-x: hidden;
}

/*內頁*/
#story {
	width: 100vw;
	height: 2px;
	position: absolute;
	top: 50vh;
	left: 0px;
	/* padding-left: 40px; */
	/* padding-right: 40px; */
	transition: transform 0.4s linear;
	transform: rotate(0rad);
	background-color: #888;
	z-index: -1;
	overflow: hidden;
}

#cont {
	width: 100%;
	height: calc(100% - 60px);
	margin-top: 0px;
	border: 0px;
	display: none;
}

#story_bts {
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 5px;

	background-color: #888;
	color: #000
}
.story_bt {
	height: 40px;
	margin: 5px;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 40px;
	background-color: #FD6;
	cursor: pointer;
	
	float: left;
}
#story_close {
	float: right;
}	
.story_bt:hover {
	box-shadow: 2px 2px 2px 1px;
	background-color: #FF8;
}

#title {
	width: 100%;
	height: 28vh;
	height: 28svh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}
#item {
	width: 100%;
	max-width: 440px;
	height: 60vh;
	height: 60svh;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;

	background-color: #888;
	position: relative;
}
#footer {
	height: 58px;
	padding: 15px;
	line-height: 28px;
	text-align: center;

	font-family: cursive;

	display: none;
}

/*選項*/
.items {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100% + 10px);
	padding: 10px;
	padding-bottom: 20px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFF;
	display: none;
}
.items_name {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
}
.items_name:hover {
	background-color: #888;
}

.items_name_pic, .items_name_l, .items_name_r {
	float: left;
	margin: 5px;
}
.items_name_pic {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.items_name_pic img {
	max-width: 100%;
	max-height: 100%;
}
.items_name_l {
	width: calc(100% - 100px);
	line-height: 28px;
}
.items_name_r {
	width: 42px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* arrow */
.items_name_r1 {
	transform: rotate(90deg);
	transition: transform 0.4s;
}
.items_name:hover .items_name_r1 {
	transform: rotate(180deg);
}
.items_name_r2 {
	transform: rotate(-90deg);
	transition: transform 0.4s;
}
.items_name:hover .items_name_r2 {
	transform: rotate(0deg);
}


/*字體大小*/
#font_size {
	cursor: pointer;
	font-size: 16px;
}
/*顏色組合*/
#font_color {
	font-size: 16px;
	padding: 2px;
	cursor: pointer;

	background-color: #FFF;
	color: #000;
}
/*使用觀看紀錄*/
.items_name:hover .record {
	animation: rotate 2s infinite linear;
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
/*文章文字選取*/
#text_select {
	background-color: #00F;
}
.font_choise {
	width: 20px;
	height: 20px;
	border: 2px solid #888;
	border-radius: 50%;
}
.font_size_select {
	background-color: #F00;
}
.font_color_select {
	background-color: #F00;
}
